@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

.user-collection{

  .collection-header{

    text-align: center;

    .user-portrait{
      width: 100px;
      height: 100px;
      border-radius: 50px;
      overflow: hidden;
      margin: 0 auto;

      img{
        width: 100%;
      }
    }

    h1{
      letter-spacing: 5px;
    }

    small{
      font-size: 18px;
      color: #808080;
      letter-spacing: 2px;
    }
  }

  .vinyl-list{

    padding-top: 50px;

    .vinyl{
      .vinyl-cover{
        position: relative;
        width: 100%;
        overflow: hidden;

        &:before{
          content: "";
          display: block;
          padding-top: 100%;
        }

        .content{
          position:  absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          &:hover{
            .overlay{
              opacity: 1;
            }
          }

          .overlay{
            position: absolute;
            opacity: 0;
            background-color: rgba(0,0,0,.4);
            z-index: 1;
            width: 100%;
            height: 100%;
            @include transition(all, .4s, ease);

            .view-vinyl{
              width: 100%;
              height: 100%;
              font-size: 62px;
              color: white;
              text-align: center;
            }

            .edit-vinyl{
              position: absolute;
              bottom: 10px;
              right: 10px;
            }

            .delete-vinyl{
              position: absolute;
              bottom: 10px;
              right: 58px;
            }
          }

          img{
            width: 100%;
          }
        }
      }

      .vinyl-info{

        height: 100px;
        overflow: hidden;

        .vinyl-artist{
          text-align: center;
          font-weight: 600;
          margin-top: 8px;
        }

        .vinyl-title{
          text-align: center;
        }
      }
    }
  }

  .pagination-container{
    text-align: center;
  }
}
