body{
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
  color: #606060;
}

.table>tbody>tr>td{
  vertical-align: middle;
}

.notifications{
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 49px;
  transform: translate(-50%);

  .alert{
    
  }
}

.pagination-container{
  text-align: center;
}

// Helpers

.full-width{
  width: 100%;
}