body{
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.table>tbody>tr>td{
  vertical-align: middle;
}

.notifications{
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;

  .alert{
    margin-right: 20px
  }
}

.pagination-container{
  text-align: center;
}

// Helpers

.full-width{
  width: 100%;
}