.bg-image-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  top: 0;
}

.bg-image{
  width: calc(100% + 70px);
  height: calc(100% + 70px);
  position: fixed;
  background-image: url('assets/PH_vinyl.svg');

  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  left: -35px;
  top: 35px;
}

.vinyl-detail{

  .vinyl-artwork{
    width: 100%;
  }

  .vinyl-title{
    margin-top: 20px;
    color: #606060;
    font-size: 42px;
    font-weight: normal;
  }

  .page-header{
    z-index: 100;
    position: relative;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
  }

  .notes{
    color: #606060;
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: 200;
  }

  .user-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px auto;
  }

  dd{
    a{
      font-size: 14px;
    }
  }

  .footable-row-detail-value, .footable-row-detail-name{
    display: block;
  }
}