@import '_variables';

#welcome{
  .welcome-header{
    background-image: url('/assets/header-image.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    color: white;
    margin-top: -20px;
    padding: 70px;

    .welcome-message{
      margin: 0 auto;
      text-align: center;

      .logo{
        width: 120px;
        height: 120px;
      }

      .buttons{
        padding-top: 30px;
      }

      h1{
        margin-top: 0;
        font-size: 72px;
        font-weight: bold;
        text-shadow: 0 6px 0 rgb(83, 70, 49);
      }

      h2{
        text-transform: uppercase;
        font-weight: 300;
        text-shadow: 0 2px 0px rgb(83, 70, 49);
      }
    }
  }

  .welcome-actions{
    background-color: #F0F0F0;
    padding: 30px 0 27px;

    .container{
      text-align: center;

      .btn{
        margin-bottom: 3px;
      }
    }
  }

  .welcome-content{
    position: relative;
    top: 365px;
  }

  .welcome-footer{
    text-align: center;
    padding: 20px 0;
  }
}

@media screen and (max-width: 578px){
  #welcome{
    .welcome-header{

      padding: 50px 0;

      .welcome-message{
        h1{
          font-size: 32px;
          text-shadow: 0 4px 0 rgb(83, 70, 49);
        }

        h2{
          font-size: 20px;
        }
      }
    }
  }
}
