$grey: #202020;
$red: #DD4223;

body{
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #DDD;
}

.table>tbody>tr>td{
  vertical-align: middle;
}

.sp-replacer{
  display: block;
  width: 100%;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.notifications{
  position: absolute;
  width: 100%;
}

// Helpers

.full-width{
  width: 100%;
}