.profile{
  header{
    text-align: center;
  }

  .profile-image{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
    margin: 0 auto;
  }

  .profile-info{
    .username{
      letter-spacing: 2px;
    }
  }

  .actions{
    margin: 40px 0;
  }

  .profile-user-rank{
    color: grey;
    margin-bottom: 20px;
  }
}

